# MacOS silliness
.DS_Store

# vim swap files
*.sw[a-p]

# jackpot-checker log files
lottery/jackpot-checker.err
lottery/jackpot-checker.log

# Generated YouTube blog posts
individuals/chicks/youtube/generated/
