---
name: MarkdownLint
on:
  push:
    branches:
      - main
  pull_request:
  workflow_run:
    workflows: ["GitHub Update"]
    types: [completed]

# global permissions
permissions: {}

jobs:
  lint:
    if: github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v4
    - uses: DavidAnson/markdownlint-cli2-action@v19
      with:
        globs: |
          **/*.md
          !.github/pull_request_template.md
          !duolingo/character_reference.md
